defaults: &defaults
  adapter: mysql
  username: rails_demo_app
  password: ****************
  host: localhost

development:
  <<: *defaults
  database: rails_demo_app_development

test:
  <<: *defaults
  database: rails_demo_app_test

production:
  <<: *defaults
  database: rails_demo_app_production
